<h1>Tema: enrutamiento</h1>

<!-- RouterLink es para evitar que se cambie la dirección -->
<!-- routerLinkActive es para darle la clase 'active' -->
<!-- routerLinkActive entre corchetes es para pasarle codigo JS -->
<nav>
  <ul>
    <li>
      <a routerLink="home" [routerLinkActive]="'active'">Home</a>
    </li>
    <li>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
    </li>
    <li>
      <a routerLink="about" routerLinkActive="active">About</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
